<table style="margin-left: auto; margin-right: auto;">
<tr>
<td><a href="http://www.irisa.fr/"><img src="clientAdmin/images/logo-irisa2011_small.jpg"/></a></td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td><a href="http://www.univ-rennes1.fr/"><img src="clientAdmin/images/logo-univ-rennes1.png"/></a></td>
<td>&nbsp;&nbsp;&nbsp;</td>

<td><a href="http://www.bretagne.fr/internet/jcms/j_6/accueil"><img src="clientAdmin/images/logo_reg_bret.jpg"/></a></td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td><a href="http://www.europe-en-bretagne.fr/Projet/Recherche-par-fonds/FEDER"><img src="clientAdmin/images/logo-feder.gif"/></a></td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td><a href="http://www.irisa.fr/LIS/home_html"><img src="clientAdmin/images/logo-lis.gif" height="100"/></a></td>
</tr></table>